Flujo NoRed.json
[
    {
        "id": "c11a72d36fd4c2bd",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7646dac71d655fc5",
        "type": "mqtt in",
        "z": "c11a72d36fd4c2bd",
        "name": "",
        "topic": "sensores",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "47ed4f308abc08a7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 320,
        "wires": [
            [
                "d3a70f680bd5c134"
            ]
        ]
    },
    {
        "id": "d3a70f680bd5c134",
        "type": "json",
        "z": "c11a72d36fd4c2bd",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "dfc14908d332a4cb",
                "f9c0b357fdd653fe",
                "6d54d54a59044d04",
                "063534aa332d0313",
                "8e860972eff7f202",
                "6517250ea5c4fced",
                "da5c85449dcaa644"
            ]
        ]
    },
    {
        "id": "dfc14908d332a4cb",
        "type": "function",
        "z": "c11a72d36fd4c2bd",
        "name": "function 5",
        "func": "msg.topic = \"INSERT INTO `data_sensores`(`temp_dht11`, `hum_dht11`, `ds18b20`, `metano`, `yl_69`,`hc_sr04`) VALUES (\" + msg.payload.TEMP_dht11 + \",\" + msg.payload.HUM_dht11 + \",\" + msg.payload.DS18B20 + \",\" + msg.payload.METANO + \",\" + msg.payload.YL_69 + \",\" + msg.payload.HC_SR04 +\")\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 220,
        "wires": [
            [
                "0b19de4bee998f43",
                "280b1bdf0db85873"
            ]
        ]
    },
    {
        "id": "6d54d54a59044d04",
        "type": "ui_gauge",
        "z": "c11a72d36fd4c2bd",
        "name": "",
        "group": "6e72831c8352973f",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "DHT11 HUMEDAD ",
        "label": "%",
        "format": "{{msg.payload.HUM_dht11}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 340,
        "wires": []
    },
    {
        "id": "f9c0b357fdd653fe",
        "type": "ui_gauge",
        "z": "c11a72d36fd4c2bd",
        "name": "",
        "group": "6e72831c8352973f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "DHT11 Temperatura",
        "label": "°C",
        "format": "{{msg.payload.TEMP_dht11}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 480,
        "y": 280,
        "wires": []
    },
    {
        "id": "063534aa332d0313",
        "type": "ui_gauge",
        "z": "c11a72d36fd4c2bd",
        "name": "",
        "group": "8ad4e9ec8b9f9690",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "DS18B20 - TEMPERATURA ",
        "label": "°C",
        "format": "{{msg.payload.DS18B20}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 500,
        "y": 400,
        "wires": []
    },
    {
        "id": "8e860972eff7f202",
        "type": "ui_gauge",
        "z": "c11a72d36fd4c2bd",
        "name": "",
        "group": "cd11087b859d8cda",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "MQ-4 - METANO",
        "label": "ppm",
        "format": "{{msg.payload.METANO}}",
        "min": "0",
        "max": "8000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 460,
        "wires": []
    },
    {
        "id": "6517250ea5c4fced",
        "type": "ui_gauge",
        "z": "c11a72d36fd4c2bd",
        "name": "",
        "group": "89240de09b389fcc",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "YL-69 - HUMEDAD",
        "label": "%",
        "format": "{{msg.payload.YL_69}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 520,
        "wires": []
    },
    {
        "id": "0b19de4bee998f43",
        "type": "mysql",
        "z": "c11a72d36fd4c2bd",
        "mydb": "4048c46f4411e97c",
        "name": "esp32",
        "x": 650,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "da5c85449dcaa644",
        "type": "ui_gauge",
        "z": "c11a72d36fd4c2bd",
        "name": "",
        "group": "5072705611f29a10",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "HC_SR04 - DISTANCIA ",
        "label": "cm",
        "format": "{{msg.payload.HC_SR04}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 580,
        "wires": []
    },
    {
        "id": "280b1bdf0db85873",
        "type": "debug",
        "z": "c11a72d36fd4c2bd",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 160,
        "wires": []
    },
    {
        "id": "18ed7737ff01a764",
        "type": "mqtt out",
        "z": "c11a72d36fd4c2bd",
        "name": "",
        "topic": "esp32iot",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "47ed4f308abc08a7",
        "x": 300,
        "y": 680,
        "wires": []
    },
    {
        "id": "7ce3ae6b9dec2537",
        "type": "ui_switch",
        "z": "c11a72d36fd4c2bd",
        "name": "",
        "label": "AIREACIÓN",
        "tooltip": "",
        "group": "3e7479d835582b82",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "E",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "A",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "18ed7737ff01a764"
            ]
        ]
    },
    {
        "id": "e98d106705efcd25",
        "type": "ui_switch",
        "z": "c11a72d36fd4c2bd",
        "name": "",
        "label": "RIEGO",
        "tooltip": "",
        "group": "3e7479d835582b82",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "Y",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "F",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 100,
        "y": 640,
        "wires": [
            [
                "18ed7737ff01a764"
            ]
        ]
    },
    {
        "id": "22ff41f861bd31a1",
        "type": "comment",
        "z": "c11a72d36fd4c2bd",
        "name": "Nodo MQTT para la entrada de datos",
        "info": "",
        "x": 150,
        "y": 260,
        "wires": []
    },
    {
        "id": "137ae03d6b2c436b",
        "type": "ui_spacer",
        "z": "c11a72d36fd4c2bd",
        "name": "spacer",
        "group": "885d906619dd1a9f",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "70c9392c7706e717",
        "type": "ui_spacer",
        "z": "c11a72d36fd4c2bd",
        "name": "spacer",
        "group": "9be6d96d75e28baa",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "65274c7710a42088",
        "type": "ui_spacer",
        "z": "c11a72d36fd4c2bd",
        "name": "spacer",
        "group": "9be6d96d75e28baa",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "3208d68fa12732bb",
        "type": "ui_spacer",
        "z": "c11a72d36fd4c2bd",
        "name": "spacer",
        "group": "ba83ccea67d032c2",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "1e337b1a1a3f396c",
        "type": "ui_spacer",
        "z": "c11a72d36fd4c2bd",
        "name": "spacer",
        "group": "ba83ccea67d032c2",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "994aeef6ebfea35f",
        "type": "ui_spacer",
        "z": "c11a72d36fd4c2bd",
        "name": "spacer",
        "group": "02ac7287deab7310",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "47ed4f308abc08a7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6e72831c8352973f",
        "type": "ui_group",
        "name": "Sensor DHT11",
        "tab": "63c6b08de140f477",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8ad4e9ec8b9f9690",
        "type": "ui_group",
        "name": "Sensor DS18B20",
        "tab": "63c6b08de140f477",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cd11087b859d8cda",
        "type": "ui_group",
        "name": "Sesnro MQ-4",
        "tab": "63c6b08de140f477",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "89240de09b389fcc",
        "type": "ui_group",
        "name": "Sensor YL-69",
        "tab": "63c6b08de140f477",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4048c46f4411e97c",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "esp32",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "5072705611f29a10",
        "type": "ui_group",
        "name": "Sensor HC-SR04",
        "tab": "63c6b08de140f477",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3e7479d835582b82",
        "type": "ui_group",
        "name": "Manejo de actuadores",
        "tab": "63c6b08de140f477",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "885d906619dd1a9f",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "9be6d96d75e28baa",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "7df1c0f0864db8b8",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ba83ccea67d032c2",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "7df1c0f0864db8b8",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "02ac7287deab7310",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "63c6b08de140f477",
        "type": "ui_tab",
        "name": "PROYECTO IOT",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    }
]